<footer>
    <p class='footer-text'>Powered by <a href="https://www.boredapi.com/" target='_blank' class='link'>Bored API</a></p>
    <p class='footer-text'><span class='I'>I</span>nspir@tion &#169; created by <a href="https://jdallos.github.io/" target='_blank' class='link'>J Dallos</a></p>
</footer>
</body>
</html>