<nav id="nav" class='nav-open'>
  <div id='nav-logo'>
    <a href="/" id='logo'>Inspir<span class='bulb-at'>@</span><span class='bulb'>&#x1F4A1;</span>tion</a>
  </div>
  <a href="/" class='nav-item'>Home</a>
  <a href="/ideas" class='nav-item'>Search</a>
  <a href="/about" class='nav-item'>What is Inspiration?</a>
  <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
    ☰
  </a>
</nav>