<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <section class='main-content-background main-content-background-about'>

            <h1 class='content-header'>What is Inspir<span class='bulb-about'>@</span>tion?</h1>
            <img src="Images/Eureka.jpg" alt="Einstein doll" id='Eureka-img'>
            <h2 class='sub-heading'>The name says it all!</h2>
            <p class='basic-text'>Inspir@tion is designed to inspire, at the very least it should help alleviate boredom
                with its many suggestions for activities.</p>
            <p class='basic-text'>With its search feature, you can select from a range of types of activity, specifying
                how much money or effort is required. You can even search for activites based upon whether you are alone
                or looking for something to do with friends!</p>
            <br>
            <h3 class='sub-heading'>Technical details</h3>
            <p class='basic-text'>Inspir@tion is a web application utilizing the bored API to draw upon its vast
                resources of activity suggestions. Combining the bored API with Inspir@tions user friendly interface we
                are happy to provide you with an easy to use and functional tool!</p>
        </section>
        <%- include('partials/footer') %>