<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <section class='main-content-background'>
            <h1 class='all-Text content-header'>Beat boredom with a click!</h1>
            <button id='random-button'><span class='I'>I</span>nspire Me!</button>
            <p id='random-quote' class='all-Text'></p>
        </section>
        <section class='sub-content-background'>
            <h2 class='sub-header'>What are you looking for?</h2>
            <p class='basic-text'>With Inspir@tion you can search by type of activity, number of participants, cost, and
                effort
                required. <a href='/ideas' class='link'>Click here</a> to customize your search.</p>
        </section>

        <%- include('partials/footer') %>